<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset - SaintStream</title>
    <style>
      /* Add your custom CSS styling here */
      body {
        font-family: Arial, sans-serif;
        line-height: 1.5;
        background-color: #282c34;
        color: #fff;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #1e2229;
        border-radius: 8px;
      }
      .logo {
        text-align: center;
        margin-bottom: 20px;
      }
      .logo img {
        max-width: 200px;
      }
      h1 {
        text-align: center;
        color: #fff;
      }
      .message {
        margin-bottom: 20px;
      }
      .button {
        text-align: center;
        margin-top: 30px;
      }
      .button a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #00925d;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
      }
      .note {
        text-align: center;
        margin-top: 30px;
        font-size: 14px;
      }

      @media (max-width: 480px) {
        h1 {
          font-size: 1.1rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="https://gdurl.com/0nga" alt="SaintStream Logo"
        />
      </div>
      <h1>Password Reset - SaintStream</h1>
      <div class="message">
        <p>Hello <%= username %>,</p>
        <p>
          We received a request to reset your password for your SaintStream
          account. If you did not make this request, please ignore this email.
        </p>
        <p>To reset your password, click the button below:</p>
      </div>
      <div class="button">
        <a href="<%= resetLink %>">Reset Password</a>
      </div>
      <div class="note">
        <p>
          <strong>Note:</strong> Please do not reply to this email as we won't
          be able to see your message. If you are unable to click the button
          above, you can manually reset your password by visiting the following
          link:
        </p>
        <p><a href="<%= resetLink %>"><%= resetLink %></a></p>
      </div>
      <p>
        If you have any questions or need further assistance, please contact our
        support team.
      </p>
      <p>Best regards,<br />SaintStream Team</p>
    </div>
  </body>
</html>
